<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Timetables</title>
    <link rel="stylesheet" th:href="@{/stylesheets/homepage.css}">
</head>
<body>
<h1>Timetable Stuffs</h1>

<p th:text="|The bus stop is: ${busStop}|"/>
<!-- Use buttons styled as links -->
<div><a href="/timetable/dataset" class="button">View Timetable Dataset</a></div>
<div><a href="/timetable/line-routes" class="button">View All Line Routes</a></div>
</body>
</html>